body{
    background-color: aquamarine;
}
#mainHeading{
    color: white;
    text-align: center;
}

.centreElements{
    color: red;
    text-align: center;
}

.ulOuter{
    background-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ulInner{
    background-color: lightblue;
    margin-top: 4px;
    margin-bottom: 4px;
}

.olOuter{
    background-color: brown;
    padding-top: 10px;
    padding-bottom: 10px;
}

.olInner{
    background-color: lightcoral;
    padding-top: 4px;
    padding-bottom: 4px
    
}