body{
    margin: 0%;
    margin-top: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

    

}
.headContainer {
  position: relative;
  color: rgb(255, 255, 255);
  width:100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(136, 100, 135);
  overflow: visible;
  padding:2% 5%;
  margin:20px 5px 5px 0px;
  text-align: center;
} 

.nameContainer{
  margin: auto;
}

.headContainer img{
  height:155px;
  position: absolute;
  top:-50%; 
  background-color: rgb(172, 130, 174);
  border-radius: 50%;

}

.nav{
  width: full;
  background-color: rgb(184, 162, 192);
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  padding: 10px;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  justify-content: space-between;
  
}

.nav a{
  text-decoration: none;
  font-size: large;
}
.nav a:hover{
  transition: 1s;
  color: white;
}


.footer{
  padding: 100px;
  background-color: rgb(68, 66, 66);
  color: white;

}

#contact{
  margin-bottom: 0px;
}
.footerContent{
  justify-content: space-between;
  display: flex;
  padding-right: 30px;
}

.mainContent{
  width: full;
  padding: 20px;
  padding-top: 2px;
}

.mainContentHeading{
  color: rgb(87, 29, 141);
}
.mainContentBody{
}
.tableContainer td,th,table{
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
  width: 50%;
}


*{
  margin: 0;
  }


.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 30px;
  }
.main-left-container{
    background-color: black;
    color: white;   
    padding: 10px;
}

 
  

