.body{
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header-container{
    display: flex;
    justify-content: space-between;

}

.logo{

}

.topnav{
    overflow: hidden;
    background-color: white;
}

.topnav a{
    float: left;
    color: black;
    text-align: end;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

a.active{
    color: red;
}

a:hover{
    background-color: rgb(210, 238, 255);
    border-radius: 10%;
}
